Language: Cpp
BasedOnStyle: google
ColumnLimit: 80
PointerAlignment: Left
ReferenceAlignment: Left
IndentWidth: 2
BreakConstructorInitializers: BeforeComma
AccessModifierOffset: -2
SortIncludes: true
IncludeBlocks: Preserve
UseTab: Never
ReflowComments: true
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
PenaltyReturnTypeOnItsOwnLine: 25
